12.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path></svg></div><div data-rid="28352191-049c-4d04-9e8c-4855d77d5345" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="r-1130q53 alchemy-rte"><span style="width:100%"><p>16,635+ Happy Customers</p></span></div></div></div></div></div></div></div></div></div></div></div>

    <script id="replo-deps-element-id" data-id="97580810427"></script>
  {%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}