.value-statements__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.value-statements__icon {
  height: 2.2rem;
  width: 2.2rem;
  margin-right: 3px;
  vertical-align: middle;
  transform: translateY(-2px);
}

.value-statements__statement {
  font-size: 1.3rem;
  min-width: 0;
  text-rendering: optimizeLegibility;
  padding: 0 4px;
  width: 100%;
}

@media screen and (min-width: 749px) {
  .value-statements__container {
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 3rem;
    padding-top: 2rem;
  }
  
  .value-statements__statement {
    width: auto;
  }
}