.us-vs-them__container {
  color: black;
  background-color: #EEEEEE;
  padding: 1.5rem 1rem;
  padding-bottom: 4rem;
}

.us-vs-them__grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.us-vs-them__table-cell {
  height: 54px;
  background-color: rgba(255, 255, 255, .78);
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  display: flex;
  position: relative;
  color: black;
}

.us-vs-them__table-column {
  grid-area: span 1/span 1/span 1/span 1;
}

.us-vs-them__table-cell.top-col {
  height: 78px;
  background-color: transparent;
  display: flex;
}

.us-vs-them__table-cell.top-col.featured {
  background-color: transparent;
}

.us-vs-them__table-cell.featured {
  color: #fff;
  background-color: transparent;
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, .13);
}

.us-vs-them__table-cell.featured.first-child {
  border-top: 1px solid transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.us-vs-them__table-cell.left.borderss {
  border-top: 1px solid rgba(0,0,0,.02);
  border-bottom: 1px solid rgba(0,0,0,.02);
}

.us-vs-them__table-cell.right.borderss {
  border-top: 1px solid rgba(0,0,0,.02);
  border-bottom: 1px solid rgba(0,0,0,.02);
}

.us-vs-them__logo-comparison {
  z-index: 115;
  height: 6rem;
  display: block;
  position: relative;
}

@media screen and (max-width: 991px) {
  .us-vs-them__logo-comparison {
    max-height: 10rem;
    margin: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .us-vs-them__table-cell {
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .us-vs-them__table-cell {
    height: 80px;
    min-height: 0;
  }
}

.us-vs-them__table-cell.left {
  justify-content: flex-start;
}

.us-vs-them__table-cell.empty {
  height: 12px;
  background-color: transparent;
  border-bottom-style: none;
}

.us-vs-them__table-cell.left.tl-radius {
  border-top-left-radius: .5rem;
}

.us-vs-them__table-cell.left.bl-radius {
  border-bottom-left-radius: .5rem;
}

.us-vs-them__table-cell.right.tr-radius {
    border-top-right-radius: .5rem;
}

.us-vs-them__table-cell.right.bb-radius {
    border-bottom-right-radius: .5rem;
}

.us-vs-them__table-column.us-vs-them__main-table {
  z-index: 5;
  background-color: #0F2941;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
      display: none;
  }
}

.us-vs-them__grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

.us-vs-them__grid .text-size-regular {
  padding-left: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.us-vs-them__grid .text-size-regular-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .us-vs-them__grid .text-size-regular {
    padding-left: 1rem;
    font-size: 1.3rem;
  }
  
  .us-vs-them__grid .text-size-regular-2 {
    font-size: 1.3rem;
  }
}

.us-vs-them__highlights {
  background-color: rgba(255,255,255,.05);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.us-vs-them__grid div:empty {
  display: block;
}

.us-vs-them__grid .icon-embed-small {
    z-index: 1;
    width: 4rem;
    height: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.us-vs-them__container em {
  font-style: normal;
}

.us-vs-them__container .h1 {
  font-size: 3rem;
  margin: 3rem 0;
}

.us-vs-them__container .sleep-toys-text {
    font-size: 2.5rem;
}

@media screen and (min-width: 767px) {
  .us-vs-them__container .h1 {
    font-size: 4rem;
  }
  
  .us-vs-them__container .sleep-toys-text {
    font-size: 3rem;
  }
}

.us-vs-them__container .page-width {
  padding: 0 0rem;
}
