.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --color-rating-star: rgb(var(--color-foreground));
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: url("data:image/svg+xml,%3Csvg width='94' height='16' viewBox='0 0 94 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Group 5'%3E%3Cpath id='Vector' d='M17.4545 6.19672C17.4545 5.95628 17.2614 5.80328 16.875 5.73771L11.5909 4.98361L9.23864 0.393443C9.10227 0.131148 8.93182 0 8.72727 0C8.52273 0 8.35227 0.131148 8.21591 0.393443L5.86364 4.98361L0.579545 5.73771C0.193182 5.80328 0 5.95628 0 6.19672C0 6.34973 0.0909091 6.51366 0.272727 6.68852L4.09091 10.2623L3.17045 15.3115C3.17045 15.3989 3.17045 15.4645 3.17045 15.5082C3.17045 15.6393 3.20455 15.7541 3.27273 15.8525C3.34091 15.9508 3.45455 16 3.61364 16C3.72727 16 3.86364 15.9563 4.02273 15.8689L8.72727 13.5082L13.4318 15.8689C13.5909 15.9563 13.7273 16 13.8409 16C14 16 14.1136 15.9508 14.1818 15.8525C14.25 15.7541 14.2841 15.6393 14.2841 15.5082C14.2841 15.4208 14.2841 15.3552 14.2841 15.3115L13.3636 10.2623L17.1818 6.68852C17.3636 6.51366 17.4545 6.34973 17.4545 6.19672Z' fill='%23EF5B9E'/%3E%3Cpath id='Vector_2' d='M36.3627 6.19672C36.3627 5.95628 36.1696 5.80328 35.7832 5.73771L30.4991 4.98361L28.1468 0.393443C28.0105 0.131148 27.84 0 27.6355 0C27.4309 0 27.2605 0.131148 27.1241 0.393443L24.7718 4.98361L19.4877 5.73771C19.1014 5.80328 18.9082 5.95628 18.9082 6.19672C18.9082 6.34973 18.9991 6.51366 19.1809 6.68852L22.9991 10.2623L22.0787 15.3115C22.0787 15.3989 22.0787 15.4645 22.0787 15.5082C22.0787 15.6393 22.1127 15.7541 22.1809 15.8525C22.2491 15.9508 22.3627 16 22.5218 16C22.6355 16 22.7718 15.9563 22.9309 15.8689L27.6355 13.5082L32.34 15.8689C32.4991 15.9563 32.6355 16 32.7491 16C32.9082 16 33.0218 15.9508 33.09 15.8525C33.1582 15.7541 33.1923 15.6393 33.1923 15.5082C33.1923 15.4208 33.1923 15.3552 33.1923 15.3115L32.2718 10.2623L36.09 6.68852C36.2718 6.51366 36.3627 6.34973 36.3627 6.19672Z' fill='%23EF5B9E'/%3E%3Cpath id='Vector_3' d='M55.2729 6.19672C55.2729 5.95628 55.0797 5.80328 54.6934 5.73771L49.4093 4.98361L47.057 0.393443C46.9206 0.131148 46.7502 0 46.5456 0C46.3411 0 46.1706 0.131148 46.0343 0.393443L43.682 4.98361L38.3979 5.73771C38.0115 5.80328 37.8184 5.95628 37.8184 6.19672C37.8184 6.34973 37.9093 6.51366 38.0911 6.68852L41.9093 10.2623L40.9888 15.3115C40.9888 15.3989 40.9888 15.4645 40.9888 15.5082C40.9888 15.6393 41.0229 15.7541 41.0911 15.8525C41.1593 15.9508 41.2729 16 41.432 16C41.5456 16 41.682 15.9563 41.8411 15.8689L46.5456 13.5082L51.2502 15.8689C51.4093 15.9563 51.5456 16 51.6593 16C51.8184 16 51.932 15.9508 52.0002 15.8525C52.0684 15.7541 52.1025 15.6393 52.1025 15.5082C52.1025 15.4208 52.1025 15.3552 52.1025 15.3115L51.182 10.2623L55.0002 6.68852C55.182 6.51366 55.2729 6.34973 55.2729 6.19672Z' fill='%23EF5B9E'/%3E%3Cpath id='Vector_4' d='M74.1811 6.19672C74.1811 5.95628 73.9879 5.80328 73.6016 5.73771L68.3175 4.98361L65.9652 0.393443C65.8288 0.131148 65.6584 0 65.4538 0C65.2493 0 65.0788 0.131148 64.9425 0.393443L62.5902 4.98361L57.3061 5.73771C56.9197 5.80328 56.7266 5.95628 56.7266 6.19672C56.7266 6.34973 56.8175 6.51366 56.9993 6.68852L60.8175 10.2623L59.897 15.3115C59.897 15.3989 59.897 15.4645 59.897 15.5082C59.897 15.6393 59.9311 15.7541 59.9993 15.8525C60.0675 15.9508 60.1811 16 60.3402 16C60.4538 16 60.5902 15.9563 60.7493 15.8689L65.4538 13.5082L70.1584 15.8689C70.3175 15.9563 70.4538 16 70.5675 16C70.7266 16 70.8402 15.9508 70.9084 15.8525C70.9766 15.7541 71.0107 15.6393 71.0107 15.5082C71.0107 15.4208 71.0107 15.3552 71.0107 15.3115L70.0902 10.2623L73.9084 6.68852C74.0902 6.51366 74.1811 6.34973 74.1811 6.19672Z' fill='%23EF5B9E'/%3E%3Cpath id='Vector_5' d='M93.0893 6.19672C93.0893 5.95628 92.8961 5.80328 92.5098 5.73771L87.2257 4.98361L84.8734 0.393443C84.737 0.131148 84.5666 0 84.362 0C84.1575 0 83.987 0.131148 83.8507 0.393443L81.4984 4.98361L76.2143 5.73771C75.8279 5.80328 75.6348 5.95628 75.6348 6.19672C75.6348 6.34973 75.7257 6.51366 75.9075 6.68852L79.7257 10.2623L78.8052 15.3115C78.8052 15.3989 78.8052 15.4645 78.8052 15.5082C78.8052 15.6393 78.8393 15.7541 78.9075 15.8525C78.9757 15.9508 79.0893 16 79.2484 16C79.362 16 79.4984 15.9563 79.6575 15.8689L84.362 13.5082L89.0666 15.8689C89.2257 15.9563 89.362 16 89.4757 16C89.6348 16 89.7484 15.9508 89.8166 15.8525C89.8848 15.7541 89.9189 15.6393 89.9189 15.5082C89.9189 15.4208 89.9189 15.3552 89.9189 15.3115L88.9984 10.2623L92.8166 6.68852C92.9984 6.51366 93.0893 6.34973 93.0893 6.19672Z' fill='%23EF5B9E'/%3E%3C/g%3E%3C/svg%3E%0A");
  background: linear-gradient(
    90deg,
    var(--color-rating-star) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
  transform: translateY(-2px);
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
