[data-oke-star-rating] {
  visibility: hidden;
  min-height: 27px;
  margin-top: 1rem;
}

.banner__content [data-oke-star-rating] {
  margin-top: 2rem;
  margin-bottom: -1rem;
}

.oke-sr-count-number, .oke-sr-label-text {
  display: none;
}

.oke-sr-rating {
  display: inline !important;
  font-weight: var(--font-body-weight-bold, 600);
  min-width: 28px;
}

.oke-sr-stars {
  min-width: 81px;
  margin-right: 0;
}

.oke-sr-count::before {
  content: "Join 102,095+ Happy Parents";
  content: var(--happy-customers);

  visibility: visible;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1.4rem;
}
