[data-oke-star-rating] {
  visibility: hidden;
  min-height: 27px;
}

.oke-sr-count-number, .oke-sr-label-text {
  visibility: hidden;
}

.oke-sr-rating {
  display: inline !important;
  font-weight: var(--font-body-weight-bold, 600);
  margin-right: 4px;
}

.oke-sr-count {
  position: relative;
}

.oke-sr-count::before {
  content: "Join 4,095+ Happy Parents";
  content: var(--happy-customers);
  visibility: visible;
  position: absolute;
  top: 1px;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1.4rem;
}
